---
let currentYear = new Date().getFullYear();

import Image from "astro/components/Image.astro";
import cc from "/src/assets/by-nc-sa.svg";
---

<footer
  class="bg-neutral-800 text-neutral-400 px-4 flex flex-col md:flex-row items-center justify-between select-none z-[1000]"
>
  <!--  <span class="mt-2 my-2 lg:my-0"
    ><a href="mailto:ide@tandil.gov"
      ><svg
        class="size-4 inline-block mr-2"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          fill="#a3a3a3"
          d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
        ></path>
      </svg>Escribinos a emprendedores@tandil.gov.ar</a
    ></span
  > -->
  <span class="my-2 lg:my-0"
    >¿Querés publicar tu emprendimiento? Registralo <a
      class="hover:text-white uppercase border-b hover:border-b-2 transition font-bold border-neutral-400"
      href="https://forms.gle/xJeNQVfgkJy421Kw7"
      target="_blank"
      rel="noopener noreferrer">aquí</a
    ></span
  >
  <span class="mb-1"
    >{currentYear} | Municipio de Tandil
    <a
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1"
      target="_blank"
      rel="noopener noreferrer"
      ><Image
        src={cc}
        alt="Creative Commons Atribución, No Comercial, Compartir Igual"
        class="inline-block lg:my-1 ml-2 w-20"
      /></a
    >
  </span>
</footer>
